doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="reset.css")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    title Cupboard API
  body
    h1 Cupboard full of stuff
    p long paragraph relating to the future page
