doctype html
html(lang='en')
  head
    link(rel="stylesheet" href="reset.css")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    title Cupboard API
  body
    h1.title What's in the cupboard?
    ul 
    each item in items
      li #{item.name}, #{item.amount} #{item.unit}, available: #{item.available}
    a(href="/add") + Add new items 
